<h1>Viikon {{ viikko }} lämpötilat</h1> 
Ma: {{asteet['ma']}}<sup>o</sup>C<br>
Ti: {{asteet['ti']}}<sup>o</sup>C<br>
Ke: {{asteet['ke']}}<sup>o</sup>C<br>
To: {{asteet['to']}}<sup>o</sup>C<br>
Pe: {{asteet['pe']}}<sup>o</sup>C<br>
La: {{asteet['la']}}<sup>o</sup>C<br>
Su: {{asteet['su']}}<sup>o</sup>C<br>
Pakkaspäivät (ka): {{keskiarvo1}}<sup>o</sup>C<br>
Koko viikko (ka): {{keskiarvo2}}<sup>o</sup>C
<h3>(laatinut: {{ tekija}}) </h3>